[webservers]
%{for host in webservers ~}
${host["name"]}   ansible_host=${host["network_interface"][0]["nat_ip_address"]} fqdn=${host["fqdn"]}
%{endfor ~}

[database]
%{for host in database ~}
${host["name"]}   ansible_host=${host["network_interface"][0]["nat_ip_address"]} fqdn=${host["fqdn"]}
%{endfor~}

[storage]
${storage["name"]}   ansible_host=${storage["network_interface"][0]["nat_ip_address"]} fqdn=${storage["fqdn"]}
